<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 1536 1792">
              <path d="M576 1536l96 -448l-96 -128l-128 -64zM832 1536l128 -640l-128 64l-96 128zM992 526q-2 -4 -4 -6q-10 -8 -96 -8q-70 0 -167 19q-7 2 -21 2t-21 -2q-97 -19 -167 -19q-86 0 -96 8q-2 2 -4 6q2 18 4 27q2 3 7.5 6.5t7.5 10.5q2 4 7.5 20.5t7 20.5t7.5 17t8.5 17t9 14t12 13.5t14 9.5t17.5 8t20.5 4t24.5 2q36 0 59 -12.5t32.5 -30t14.5 -34.5t11.5 -29.5t17.5 -12.5h12q11 0 17.5 12.5t11.5 29.5t14.5 34.5t32.5 30t59 12.5q13 0 24.5 -2t20.5 -4t17.5 -8t14 -9.5t12 -13.5t9 -14t8.5 -17t7.5 -17t7 -20.5t7.5 -20.5q2 -7 7.5 -10.5t7.5 -6.5q2 -9 4 -27zM1408 1405q0 121 -73 190t-194 69h-874q-121 0 -194 -69t-73 -190q0 -61 4.5 -118t19 -125.5t37.5 -123.5t63.5 -103.5t93.5 -74.5l-90 -220h214q-22 -64 -22 -128q0 -12 2 -32q-194 -40 -194 -96q0 -57 210 -99q17 -62 51.5 -134t70.5 -114q32 -37 76 -37q30 0 84 31t84 31t84 -31t84 -31q44 0 76 37q36 42 70.5 114t51.5 134q210 42 210 99q0 56 -194 96q7 81 -20 160h214l-82 225q63 33 107.5 96.5t65.5 143.5t29 151.5t8 148.5z"></path>
          </svg>
        </a>
      </li>
      <li>
        <a href="{{ 'contact' | relative_url }}" title="Contact">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 1536 1792">
          <path d="M972 775q0 -108 -53.5 -169t-147.5 -61q-63 0 -124 30.5t-110 84.5t-79.5 137t-30.5 180q0 112 53.5 173t150.5 61q96 0 176 -66.5t122.5 -166t42.5 -203.5zM1536 896q0 111 -37 197t-98.5 135t-131.5 74.5t-145 27.5q-6 0 -15.5 0.5t-16.5 0.5q-95 0 -142 -53q-28 -33 -33 -83q-52 66 -131.5 110t-173.5 44q-161 0 -249.5 -95.5t-88.5 -269.5q0 -157 66 -290t179 -210.5t246 -77.5q87 0 155 35.5t106 99.5l2 -19l11 -56q1 -6 5.5 -12t9.5 -6h118q5 0 13 11q5 5 3 16l-120 614q-5 24 -5 48q0 39 12.5 52t44.5 13q28 -1 57 -5.5t73 -24t77 -50t57 -89.5t24 -137q0 -292 -174 -466t-466 -174q-130 0 -248.5 51t-204 136.5t-136.5 204t-51 248.5t51 248.5t136.5 204t204 136.5t248.5 51q228 0 405 -144q11 -9 24 -8t21 12l41 49q8 12 7 24q-2 13 -12 22q-102 83 -227.5 128t-258.5 45q-156 0 -298 -61t-245 -164t-164 -245t-61 -298t61 -298t164 -245t245 -164t298 -61q344 0 556 212t212 556z"></path>
          </svg>
        </a>
      </li>
    {% endif %}
    {% if site.social.hashtag == true %}
      <li>
        <a href="{{ 'tags' | relative_url }}" title="Navigate by tag">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 555 555">
          <path d="M64.333,490h58.401l33.878-137.69h122.259L245.39,490h58.401l33.878-137.69h119.92v-48.162h-108.24l29.2-117.324h79.04
          	v-48.162H390.23L424.108,0H365.31l-33.878,138.661H208.79L242.668,0h-58.415l-33.864,138.661H32.411v48.162h106.298l-28.818,117.324
          	h-77.48v48.162h65.8L64.333,490z M197.11,186.824h122.642l-29.2,117.324H168.292L197.11,186.824z"/>
          </svg>
        </a>
      </li>
    {% endif %}
    {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" rel="noreferrer noopener" target="_blank" title="Twitter">
          {% include svg-icon.html icon="twitter" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social.facebook }}" rel="noreferrer noopener" target="_blank" title="Facebook">
          {% include svg-icon.html icon="facebook" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.medium %}
      <li>
        <a href="https://medium.com/{{ site.social.medium }}" rel="noreferrer noopener" target="_blank" title="Medium">
          {% include svg-icon.html icon="medium" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.github %}
      <li>
        <a href="https://github.com/{{ site.social.github }}" rel="noreferrer noopener" target="_blank" title="GitHub">
          {% include svg-icon.html icon="github" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.gitlab %}
      <li>
        <a href="https://gitlab.com/{{ site.social.gitlab }}" rel="noreferrer noopener" target="_blank" title="GitLab">
          {% include svg-icon.html icon="gitlab" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.bitbucket %}
      <li>
        <a href="https://bitbucket.org/{{ site.social.bitbucket }}" rel="noreferrer noopener" target="_blank" title="Bitbucket">
          {% include svg-icon.html icon="bitbucket" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.stackoverflow %}
      <li>
        <a href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}" rel="noreferrer noopener" target="_blank" title="Stack Overflow">
          {% include svg-icon.html icon="stackoverflow" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.docker %}
      <li>
        <a href="https://hub.docker.com/r/{{ site.social.docker }}" rel="noreferrer noopener" target="_blank" title="Docker Hub">
          {% include svg-icon.html icon="docker" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" rel="noreferrer noopener" target="_blank" title="LinkedIn">
          {% include svg-icon.html icon="linkedin" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.dribbble %}
      <li>
        <a href="https://dribbble.com/{{ site.social.dribbble }}" rel="noreferrer noopener" target="_blank" title="Dribbble">
          {% include svg-icon.html icon="dribbble" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.flickr %}
      <li>
        <a href="https://www.flickr.com/photos/{{ site.social.flickr }}" rel="noreferrer noopener" target="_blank" title="Flickr">
          {% include svg-icon.html icon="flickr" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.instagram %}
      <li>
        <a href="https://instagram.com/{{ site.social.instagram }}" rel="noreferrer noopener" target="_blank" title="Instagram">
          {% include svg-icon.html icon="instagram" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.tumblr %}
      <li>
        <a href="https://{{ site.social.tumblr }}.tumblr.com" rel="noreferrer noopener" target="_blank" title="Tumblr">
          {% include svg-icon.html icon="tumblr" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.spotify %}
      <li>
        <a href="https://play.spotify.com/user/{{ site.social.spotify }}" rel="noreferrer noopener" target="_blank" title="Spotify">
          {% include svg-icon.html icon="spotify" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.youtube %}
      <li>
        <a href="https://www.youtube.com/user/{{ site.social.youtube }}" rel="noreferrer noopener" target="_blank" title="Youtube">
          {% include svg-icon.html icon="youtube" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.twitch %}
      <li>
        <a href="https://www.twitch.tv/{{ site.social.twitch }}" rel="noreferrer noopener" target="_blank" title="Twitch">
          {% include svg-icon.html icon="twitch" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.steam %}
      <li>
        <a href="https://steamcommunity.com/id/{{ site.social.steam }}" rel="noreferrer noopener" target="_blank" title="Steam">
          {% include svg-icon.html icon="steam" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.discord %}
      <li>
        <a href="https://discord.gg/{{ site.social.discord }}" rel="noreferrer noopener" target="_blank" title="Discord Server">
          {% include svg-icon.html icon="discord" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.bitcoin %}
      <li>
        <a href="https://blockexplorer.com/address/{{ site.social.bitcoin }}" rel="noreferrer noopener" target="_blank" title="Bitcoin">
          {% include svg-icon.html icon="bitcoin" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.ethereum %}
      <li>
        <a href="https://etherscan.io/address/{{ site.social.ethereum }}" rel="noreferrer noopener" target="_blank" title="Ethereum">
          {% include svg-icon.html icon="" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}" title="Email">
          {% include svg-icon.html icon="email" %}
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">
          {% include svg-icon.html icon="rss" %}
        </a>
      </li>
    {% endif %}
    {% if site.theme_toggle == true %}
      <li>
        <a onclick="toggle()" title="Toggle Theme">
          {% include svg-icon.html icon="theme" %}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% if site.tag_nav_enabled %}
  <ul class="header-tags {% if site.scrollappear_enabled %}scrollappear{% endif %}">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      {% if forloop.index > 10 %}
        <li>...</li>
        <li><a href="/tags">Show all</a></li>
        {% break %}
      {% endif %}
        <li><a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">{{ tag[0] | prepend: "#" }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
