<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
<script data-goatcounter="https://53195.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e1fdda92de6d43039c09957168d66b9a"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
