// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;
  p {
    font-size: 15px;
    color: $gray-light;
  }
  a {
    text-decoration: none;
  }
}
div#bmc-wbtn {
  width: 55px !important;
  height: 55px !important;
  right: 25% !important;
  bottom: 3% !important;
}